<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<nav class="navbar bg-body-tertiary">
	<div class="container" style="border-radius: 10px; background-color: #EEA5A6; font-weight: bold; font-family: cursive;">
	  <a class="navbar-brand" href="#">
		<img width="50" height="50" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/external-Cinema-cenima-flatart-icons-outline-flatarticons.png" alt="external-Cinema-cenima-flatart-icons-outline-flatarticons"/>
		<span style="color: #281C2D;">BookMyTicket</span>
	  </a>
	</div>
  </nav>
<body>
	<div class="container base" >
		<div class="row base-row" style="border-radius: 10px; background-color: #EEA5A6">
			<div class="col-3 menu" style="border-radius: 10px; background-color: #222831;">
			<div class="logo mb-5 text-center text-light  pt-1 pb-1">
			</div>
				<ul class="list" >
					<li><a th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:href="@{/register}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</b></a></li>
					<li><a th:href="@{/loginForm}"><i class="fas fa-users"></i>&nbsp;&nbsp;Login</a></li>
					<li><a href=""><i class="fas fa-address-card"></i>&nbsp;&nbsp;Terms & Cons
							</a></li>
					<li><a href=""><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
				</ul>
			</div>
			<div class="col-9 before_login_home">
				<div class="before_head">
					<!-- <form action="">
						<input type="text" placeholder="search for movies..," />
						<button>
							<i class="fa fa-search"></i>
						</button>

					</form> -->
				</div>
				<div class="before_main_section">
					<div class="card-section" th:each="movies : ${movieList}" style="border-radius: 10px; background-color: #222831;">
						<form th:action="@{/booking}" method="get" >
							<img th:src="@{${'images/'+movies.image}}" height="280px" alt="" style="border-radius: 10px;"/>
							<div class="card_body mt-1 " >
								<button class="btn " type="submit" name="movieName" th:value="${movies.movieName}" style="color: #EEA5A6;" > <b>Book Now</b></button>
							</div>
						</form>
					</div>

					
					
				</div>


			</div>
		</div>

	</div>
</body>
</html>