<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Terms&Cons</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<nav class="navbar bg-body-tertiary">
	<div class="container" style="border-radius: 10px; background-color: #EEA5A6; font-weight: bold; font-family: cursive;">
	  <a class="navbar-brand" href="#">
		<img width="50" height="50" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/external-Cinema-cenima-flatart-icons-outline-flatarticons.png" alt="external-Cinema-cenima-flatart-icons-outline-flatarticons"/>
		<span style="color: #281C2D;">BookMyTicket</span>
	  </a>
	</div>
  </nav>
<body>
	<div class="container base">
		<div class="row base-row"style="border-radius: 10px; background-color: #EEA5A6">
			<div class="col-3 menu" style="border-radius: 10px; background-color: #222831;">
			<div class="logo mb-5 text-center text-light  pt-1 pb-1">
			</div>
				<ul class="list">
					<li><a th:href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:href="@{/register}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</a></li>
					<li><a th:classappend="${menu == 'login'} ? 'text-dark' : ' '" th:href="@{/loginForm}"><i class="fas fa-users"></i>&nbsp;&nbsp;Login</a></li>
					<li><a th:href="@{/terms}"><i class="fas fa-address-card"></i>&nbsp;&nbsp;Terms & Cons
							</a></li>
					<li><a th:href="@{/contact}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
				</ul>
			</div>
        
			<div class="col-9   login-form">
				<div class="login" style="border-radius: 10px; background-color: #222831;">
						<div class="login-head" style="border-radius: 10px; background-color: #EEA5A6 ;">
						<h3  style="color: #222831 ;">Terms & Conditions</h3>
						</div>
						<div class="terms"style="color:#EEA5A6 ;">
                            <p><b>1.</b> Patrons under the age of 18 are strictly prohibited entry to A rated movies by law
                            </p>
                            <p><b>2.</b> Please carry proof of age for movies certified `A`.
                            </p>
                            <p><b>3.</b> Tickets once purchased cannot be cancelled, exchanged or refunded.
                            </p>
                            <p><b>4.</b> Please purchase tickets for children 3 years and above.
                            </p>
                            <p><b>5.</b> Outside food and beverages are not allowed inside the cinema premises.
                            </p>
                            <p><b>6.</b> Smoking is strictly prohibited inside the theatre premises.
                            </p>
                            <p><b>7.</b> People under the influence of Alcohol/Drugs will not be allowed inside the cinema premises
                            </p>
                        </div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>