*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-color: #E9EAEC;
}
nav{
    padding: 1vh 2vw 1vh 2vw;
    background-color: #3f69a0;
    display: flex;
    column-gap: 3vw;
    justify-items: center;
    
}
.sb h2 , .s-icon {
    font-size: xx-large;
    padding-top: .5vh;
    color: #E9EAEC;
}
.search{
    display: flex;
    padding-left: 45vw;
    column-gap: 2vw;
    justify-items: center;
}
nav button{  
    padding: 0vh 15vw 0vh 1vw;
    border-radius: 4vh; 
}
.entire , .suga
{
    position: relative;
    top: 1.5vh;
    left: 1vw;
}
#firstpage .cover{
    position: relative;
    top: 1vh;
    left: 13%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#main {
    background-color: #ffffff;
    /* margin: 2vh 13.8vw 0vh 10vw; */
    margin-left: 12.8vw;
    margin-right: 12.8vw;
    margin-top: 2vh;
    padding: 20px;
    font-size: 35px; 
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#main ::after{
    content: "";
    clear: both;
    display: table;
}
#main img , .btn img {
    float: left;  
}
#main .one , p {
    display: flex;
    align-items: start;
}
.btn{
    padding-left: 37vw;
}
.dots
{
    padding-left: 48.6vw;
   
}
#main .btn button
{
    padding: 1vh 2.5vw 1vh 0.3vw;   
    border-color: azure; 
    border-radius: 5px;
    cursor: pointer;
}
.s-image 
{
    display: flex;
    align-items: start;
    column-gap: 10px;
    position: relative;
    top: 1vh;
    cursor: pointer;
}
aside , .sb , .s-icon{
   display: flex; 
}
#intro, .yoongi , .yoongi1 ,#intro1 , #intro2{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 35px;
}
.vert{
    margin-top: 1vh;
    margin-right: 12.8vw;
    
}
.hort{
    margin-top: 1vh;
    margin-left: 12.8vw;
}
#intro {
    display: inline-block; 
    padding: 1.5vw;
    width: 23.7vw;
    height: 50vhvh;
    
    
    
}
#intro1{
    display: inline-block;
    padding: 1.5vw;
    width: 23.7vw;
    height: 85vh;
    margin-top: 1vh;
    
}

#intro2{
    display: inline-block;
    padding: 1.5vw;
    width: 23.7vw;
    height: 65vh;
    margin-top: 1vh;
    
}
.yoongi{
   display: flex;
   padding: 1.5vw;
   width: 49vw;
   height: 35vh; 
   
} 
.yoongi1{
    display: flex;
    padding: 1.5vw;
    width: 49vw;
    height: 75vh; 
    row-gap: 2vh;
 } 
.icon , .frnd { 
    display: flex ;
    justify-content: space-between;
}
.icon1{
    display: flex ;
    padding-top: 1vh;
}
.icon1 p{
    padding-right: 2vw;
}
#fake1{
    width: 40vw;
    height: 40vh;
}
#pic{
    width: 6.6vw;
    height: 15vh;
}






